.items{
  display: grid;
  grid-template-columns: 6fr 3fr 2fr;
  padding: 0.5rem;
  gap: 0.5rem;
  font-size: normal;
  color: black;
  font-weight: bold;
}

.items :nth-child(3n-2){
  text-align: left;
  justify-self: flex-start;
}

.items :nth-child(3n-1){
  text-align: left;
  justify-self: flex-start;
}

.items :nth-child(3n){
  text-align: right;
  justify-self: flex-end;
}