.section{
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.section ul{
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (max-width: 490px){
  .section{
    padding: 0.5rem;
  }
}