@import '../Cart/Cart.module.css';

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.429);
}

.popup{
  width: 100%;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 7.9vh;
  left: 0;
  z-index: 20;
}

.popup > div {
  width: 100%;
  height: 100%;
}